<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <<{include file="cigoadmin@include/cssHeaderTop" /}>>
    <title><<{$title}>>- <<{$admin_module_name}>></title>
    <<{include file="cigoadmin@include/cssHeaderMiddle" /}>>
    <<{include file="cigoadmin@include/cssHeaderBottom" /}>>
    <link rel="stylesheet" href="__CIGO_PUBLIC__/cigoos/top-menu.css"/>
    <link rel="stylesheet" href="__CIGO_PUBLIC__/cigoos/left-menu.css"/>

    <<{include file="cigoadmin@include/jsHeaderTop" /}>>
    <<{include file="cigoadmin@include/jsHeaderMiddle" /}>>
    <<{include file="cigoadmin@include/jsHeaderBottom" /}>>
    <script type="text/javascript" src="__CIGO_PUBLIC__/cigoos/top-menu.js"></script>
    <script type="text/javascript" src="__CIGO_PUBLIC__/cigoos/left-menu.js"></script>
    <script type="text/javascript" src="__CIGO_PUBLIC__/common/js/base.js"></script>

    <<{block name="head-bottom"}>><<{/block}>>
</head>
<body style="padding: 0px;">
<div id="page_top_bar">
    <div id="logo">
        <img style="width: 50%;" src="__COMMON__/img/logo-with-name-land.png"/>
    </div>
    <div id="top_menu_container" url="<<{:url('getTopMenuData')}>>"></div>
    <div id="loginfo_container">
        <a href="<<{:url('Manager/showInfo')}>>" target="page_content"
           style="color: #fff;padding: 15px 0px;text-decoration: none;">
            <span class="nickname"><<{$nickName}>></span>
            <i class="cigo-iconfont cigo-icon-xiajiantou" style="margin-left: 5px;"></i>
        </a>
        <ul>
            <li>
                <a title="修改昵称" href="<<{:url('Manager/modifyNickName')}>>" target="page_content">
                    <i class="cigo-iconfont cigo-icon-nicheng"></i>
                    <span>修改昵称</span>
                    <span class="label pull-right label-default"></span>
                </a>
            </li>
            <li>
                <a title="修改密码" href="<<{:url('Manager/modifyPwd')}>>" target="page_content">
                    <i class="cigo-iconfont cigo-icon-mima"></i>
                    <span>修改密码</span>
                    <span class="label pull-right label-default"></span>
                </a>
            </li>
            <span class="hr"></span>
            <li class="ajax-get confirm" url="<<{:url('logout')}>>">
                <a title="退出登录" onclick="return false;">
                    <i class="cigo-iconfont cigo-icon-tuichu"></i>
                    <span>
						退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出
					</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="page_main">
    <div id="page_left_slider">
        <div id="left_menu_container" url="<<{:url('getLeftMenuData')}>>" class="count-opt-rate"
             url-add-opt-rate="<<{:url('addOptRate')}>>">
        </div>

        <div id="left_slider_shrink">
            <span class="tab">>></span>
        </div>
    </div>
    <div id="page_content">
        <iframe name="page_content" width="100%" height="100%" frameborder="0" src="<<{:url('User/index')}>>">
            <p>您的浏览器不支持Iframe。</p>
        </iframe>
    </div>
</div>

<<{include file="cigoadmin@include/jsFooter" /}>>

<script type="text/javascript">
</script>
</body>
</html>
