<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="__CIGO_PUBLIC__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"/>
<link rel="stylesheet" href="__CIGO_PUBLIC__/select2-4.0.3/css/select2.min.css"/>
<link rel="stylesheet" href="__CIGO_PUBLIC__/layui-v2.4.5/layui/css/layui.css"/>

<!-- //TODO 查看为什么卡顿-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>-->

<link rel="stylesheet" type="text/css" href="__CIGO_PUBLIC__/Jcrop-WIP-2.x/css/Jcrop.css" media="all">
<link rel="stylesheet" href="<<{:config('cigo.ICON_CONFIG_CIGO')}>>.css"/>

