<<{extend name="cigoadmin@public:editor" /}>>
<<{block name="head-bottom"}>>
<script type="text/javascript" src="__CIGO_PUBLIC__/cigoos/cigoList.js"></script>
<<{/block}>>

<<{block name="tool-bar-btns"}>>
<a class="btn btn-primary addBtn">
    <i class="fa fa-plus-square"></i>
    添加管理员
</a>
<<{/block}>>

<<{block name="content"}>>
<div class="input-group" style="width: 100%;min-width: 400px;">
    <span class="input-group-addon">检索:</span>
    <input class="form-control" placeholder="请输入检索词..." type="text" name="keyword" value="<<{$args['keyword']}>>"/>
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            更多检索条件
        </button>
        <div id="searchPanel" class="dropdown-menu dropdown-menu-right" style="width: 680px;padding: 10px;">
            <div class="panel panel-success" style="margin: 0px;">
                <div class="panel-heading">选择检索条件</div>
                <div class="panel-body">
                    <div class="form-group pull-left">
                        <div class="cigo-edit item-radio label_landscape"
                             cigo-edit-type="landscape"
                             cigo-edit-name="status"
                             cigo-edit-label="状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态"
                             cigo-edit-value="<<{$args['status']}>>"
                             cigo-edit-fun-value-changed="refreshList"
                             cigo-edit-data-radio-options='[{"id": "", "text": "所有"}, {"id":0, "text": "已禁用"}, {"id": 1, "text": "已启用"}]'
                        ></div>
                    </div>

                    <div class="form-group pull-left" style="margin-left: 15px;">
                        <div id="orderBy" class="cigo-edit item-select"
                             cigo-edit-label="排序方式"
                             cigo-edit-name="orderBy"
                             cigo-edit-value="<<{$args['orderBy']}>>"
                             cigo-edit-data-select-options='[{"id": "id", "text": "编号"}, {"id": "create_time", "text": "创建时间"}]'
                             cigo-edit-fun-item-change="refreshList"
                             cigo-edit-select-width="150"></div>
                    </div>

                    <div class="form-group pull-left" style="clear: right;">
                        <div id="order" class="cigo-edit item-select"
                             cigo-edit-label=""
                             cigo-edit-name="order"
                             cigo-edit-value="<<{$args['order']}>>"
                             cigo-edit-select-no-search-for-result
                             cigo-edit-data-select-options='[{"id": "0", "text": "⬆️"}, {"id": "1", "text": "⬇️"}, ]'
                             cigo-edit-fun-item-change="refreshList"
                             cigo-edit-select-width="50"></div>
                    </div>

                    <div class="form-group pull-left">
                        <div class="cigo-edit item-datetimepicker label_landscape"
                             cigo-edit-label="创建日期"
                             cigo-edit-datetime-format="yyyy-mm-dd"
                             cigo-edit-class="form-control"
                             cigo-edit-style="width: 260px;"
                             cigo-edit-name="startDate"
                             cigo-edit-value="<<{$args['startDate']}>>"
                             cigo-edit-change-date-func="refreshList"
                             cigo-edit-readonly="readonly"
                             cigo-edit-datetime-minview="month"
                             cigo-edit-placeholder="请选择起始日期..."></div>
                    </div>

                    <div class="form-group pull-left">
                        <div class="cigo-edit item-datetimepicker label_landscape"
                             cigo-edit-label="~"
                             cigo-edit-datetime-format="yyyy-mm-dd"
                             cigo-edit-class="form-control"
                             cigo-edit-style="width: 260px;"
                             cigo-edit-name="endDate"
                             cigo-edit-value="<<{$args['endDate']}>>"
                             cigo-edit-change-date-func="refreshList"
                             cigo-edit-readonly="readonly"
                             cigo-edit-datetime-minview="month"
                             cigo-edit-placeholder="请选择结束日期..."></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="show-page"></div>
<table id="data-list" class="cigo-data-list layui-table" lay-filter="data-list">
    <thead class="list-head">
    <tr>
        <th lay-data="{field: 'id', align:'center', width:100}">编号</th>
        <th lay-data="{field: 'user_name', align:'center', width:160}">用户名</th>
        <th lay-data="{field: 'nick_name', align:'center', width:160}">昵称</th>
        <th lay-data="{field: 'user_group', align:'center', width:160}">所属用户分组</th>
        <th lay-data="{field: 'email', align:'center', width:200}">邮箱</th>
        <th lay-data="{field: 'last_logtime', align:'center', width:200}">最后登录信息</th>
        <th lay-data="{fixed: 'right', field: 'control', align:'center', width: 280}">数据操作</th>
    </tr>
    </thead>
</table>
<div class="show-page"></div>
<<{/block}>>

<<{block name="js-footer"}>>
<script type="text/javascript">
    let listPlugin;
    let pageInitFlag = false;
    $(function () {
        initView();
        initEvent();
        pageInitFlag = true;
    });

    function initView() {
        //初始化列表插件
        listPlugin = new CigoList({
            listView: $('#data-list'),
            dataSrcUrl: "<<{:url('getDataList')}>>",
            pageContainerCls: 'show-page',
            //1. 模拟回调函数第一种匿名函数写法
            argsFunc: function () {
                let keyword = $('input[name="keyword"]:first').val();
                let status = $('input[name="status"]:checked').val();
                let startDate = $('input[name="startDate"]:first').val();
                let endDate = $('input[name="endDate"]:first').val();
                let orderBy = $('#orderBy select:first').select2('data');
                orderBy = (orderBy.length > 0) ? orderBy[0].id : 'create_time';
                let order = $('#order select:first').select2('data');
                order = (order.length > 0) ? order[0].id : '1';
                return {
                    'keyword': keyword,
                    'status': status,
                    'startDate': startDate,
                    'endDate': endDate,
                    'orderBy': orderBy,
                    'order': order
                };
            },
            //2. 模拟配置项回调函数第二种函数名写法
            renderItemViewFunc: createTr,
            afterRenderFunc: function (listContainer, dataList) {
                if (dataList.length <= 0) {
                    $('[lay-id="data-list"]').remove();
                    $('#data-list').show();
                    return;
                }

                let tableList = cigoTable.init('data-list');
                let layuiDataList = $('[lay-filter="LAY-table-' + tableList.index + '"]');
                tableEvent(layuiDataList);
                listPlugin.bindAjaxGetEvent(layuiDataList);
                listPlugin.bindQuikEditEvetn(layuiDataList);
            }
        });
        //刷新列表
        listPlugin.renderList(true, true, false);
    }

    function refreshList() {
        if (pageInitFlag) {
            listPlugin.renderList(true, false, false);
        }
    }

    function createTr(listContainer, itemViewList, itemKey, dataItem, level, hasSubFlag, hasSubCls) {
        itemViewList.push(
            '<tr class="list-item">' +
            '   <td>' +
            '       ' + dataItem['id'] +
            '   </td>' +
            '   <td>' +
            '       <span class="editbtn" style="cursor: pointer;" title="点击修改" data-id="' + dataItem['id'] + '">' + dataItem['username'] + '</span>' +
            '   </td>' +
            '   <td>' +
            '       ' + dataItem['nickname'] +
            '   </td>' +
            '   <td>' +
            '       ' + (
                (dataItem['is_admin'] === 1) ? '超级管理员' : '其它用户分组'
            ) +
            '   </td>' +
            '   <td>' +
            '       ' + dataItem['email'] +
            '   </td>' +
            '   <td>' +
            '       ' + dataItem['last_log_ip'] + '<br/>' + dataItem['last_log_time'] +
            '   </td>' +
            '   </td>' +
            '   <td>' + (
                (dataItem['is_admin'] !== 1)
                    ?
                    '       ' + getStatusBtn(dataItem['id'], dataItem['status']) +
                    '       <a class="btn btn-info editbtn" href="#" data-id="' + dataItem['id'] + '">编辑/赋权限</a>&nbsp;' +
                    '       <a class="btn btn-danger ajax-get confirm" href=\'<<{:url("setStatus", false, false)}>>' + Think.DEEP + 'id' + Think.DEEP + dataItem['id'] + Think.DEEP + 'status' + Think.DEEP + '-1' + Think.DEEP + 'ctrlTip' + Think.DEEP + '删除\' >删除</a>'
                    : ''
            ) +
            '   </td>' +
            '</tr>'
        );
    }

    function initEvent() {
        $('#searchPanel').click(function (e) {
            e.stopPropagation();
        });
        $('input[name="keyword"]:first').keydown(function (event) {
            if ((event.which || event.keyCode) === 13) {
                refreshList();
            }
        });
        $('.addBtn').click(function () {
            cigoLayer.open({
                title: ['添加管理员并设置权限', 'font-size: 16px;font-weight: bold;'],
                type: 2,
                area: ['98%', '640px'],
                fix: false,
                scrollbar: false,
                maxmin: true,
                shade: [0.5, '#ffffff'],
                shadeClose: false,
                skin: 'layui-layer-rim',
                content: "<<{:url('add', false, false)}>>",
                cancel: function (index, layero) {
                    cigoLayer.close(index)
                    return false;
                }
            });

            return false;
        });
    }

    function tableEvent(dataList) {
        dataList.on('click', '.editbtn', function () {
            cigoLayer.open({
                title: ['管理员信息及权限修改', 'font-size: 16px;font-weight: bold;'],
                type: 2,
                area: ['98%', '640px'],
                fix: false,
                scrollbar: false,
                maxmin: true,
                shade: [0.5, '#ffffff'],
                shadeClose: false,
                skin: 'layui-layer-rim',
                content: "<<{:url('edit', false, false)}>>" + Think.DEEP + 'id' + Think.DEEP + $(this).data('id'),
                cancel: function (index, layero) {
                    cigoLayer.close(index);
                    return false;
                }
            });
            return false;
        });
    }

    function getStatusBtn(id, status) {
        let btnCls = 'btn-default';
        switch (status) {
            case 0:
                btnCls = 'btn-warning';
                break;
            case 1:
                btnCls = 'btn-success';
                break;
            default:
                btnCls = 'btn-default';
                break;
        }
        return '' +
            '<a class="btn ' + btnCls + ' ajax-get confirm" style="min-width: 62px;text-align: center;" ' +
            '   href=\'<<{:url("setStatus", false, false)}>>' +
            Think.DEEP + 'id' + Think.DEEP + id + Think.DEEP + 'status' + Think.DEEP + Math.abs(1 - status) +
            Think.DEEP + 'ctrlTip' + Think.DEEP + show_status_label(status, ['启用', '禁用']) + '\'>' +
            '   ' + show_status_label(status, ['启 用', '已启用']) +
            '</a>&nbsp;'
    }
</script>
<<{/block}>>
